body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }


.container-wrapper {
    display: flex;
    height: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: left;
}
  
.main-container {
    flex: 1;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    height: 100%;
}

.container-left {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    width: 270px;
    height: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 50px;
    border-right: 1px solid rgb(188, 188, 188);
}

.container-right {
    flex: 1;
    padding-top: 50px;
    padding-right: 20px;
}

.main-heading {
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-top: 0px;
}

h1 {
    margin: 0;
}

.date-today {
    font-weight: 200;
    font-style: normal;
    font-size: medium;
    margin-bottom: 0px;
}

.header {
    align-items: left;
}

.paragraphs {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.subheading {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-body {
    height: fit-content;
    width: 400px;
    position: absolute;
    padding: 30px;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    text-align: left;
    margin: auto;
    border: 0px;
    background-color: white;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
}

.popup-exams {
    display: flex;
    height: fit-content;
    align-items: center;
}

.popup-todos {
    display: flex;
    height: fit-content;
    align-items: center;
}

.attr-input-form {
    display: flex;
    height: fit-content;
    align-items: center;
}

.overview-wrapper {
    margin-bottom: 50px;
    padding-top: 25px;
}

.subject-overview {
    width: 40vw;
    text-align: left;
    border-bottom: 1px solid rgb(188, 188, 188);
    padding-bottom: 25px;
}

.subject-heading {
    display: flex;
    gap: 20px;
    align-items: center;;
}

.exam-list {
    display: flex;
    gap: 20px;
}

.exam-element {
    border-radius: 15px;
    background-color: rgb(223, 223, 223);
    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;
}

.exam-element p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.popup-subheading {
    font-size: large;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.attribute-input {
    width: 292px;
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
}

.attribute-content {
    width: 300px;
}

.regular-button {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    border: 1px solid;
    border-radius: 9px;
    border-color: black;
    background-color: black;
    box-shadow: rgb(165, 165, 165) 0px 2px 7px;
    font-weight: 600;
    font-style: normal;
}

.regular-button:hover {
    box-shadow: rgba(40, 40, 40) 0px 2px 7px;
}

.edit-links-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    border: 1px solid;
    border-radius: 9px;
    border-color: rgb(235, 235, 235);
    background-color: rgb(236, 236, 236);
    font-weight: 600;
    font-style: normal;
}

.edit-links-button:hover {
    box-shadow: rgba(106, 106, 106, 0.35) 0px 2px 7px;
}

button:hover {
    cursor: pointer;
}

.delete-attribute-button {
    color: white;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #f65a5a;
    background-color: #f76c6c;
    box-shadow: rgba(242, 147, 147, 0.35) 0px 5px 15px;
    font-weight: 400;
    font-style: normal;
}

.add-attribute-button {
    color: white;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #3a9754;
    background-color: #3a9754;
    box-shadow: rgba(25, 121, 57, 0.35) 0px 5px 15px;
    font-weight: 400;
    font-style: normal;
}

.links {
    height: fit-content;
}

.edit-link-buttons {
    display: flex;
    align-items: center;
}

.link-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

a.link img {
    height: 24px;
    width: 24px;
}

.link {
    text-decoration: none;
    font-weight: normal;
    font-size: normal;
    color: white;
    background-color: #4C3BCF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.link:hover {
    background-color: #1d0d79;
    box-shadow: rgba(88, 101, 241, 0.35) 0px 5px 15px;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11px;
}

.popup-heading {
    font-size: x-large;
}

.text-input-short {
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
}

.sidebar {
    padding-left: 20px;
    padding-right: 25px;
}

.sidebar-heading {
    padding-top: 25px;
    color: #525252;
}

.sidebar-options-wrapper {
  width: 100%;
}

.modules {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius:7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modules p{
    margin: 0;
}

.modules:hover {
    background-color: rgb(236, 236, 236);
}

.exam-prep {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius:7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.exam-prep p{
    margin: 0;
}

.exam-prep:hover {
    background-color: rgb(236, 236, 236);
}

.statistics {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius:7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.statistics p{
    margin: 0;
}

.statistics:hover {
    background-color: rgb(236, 236, 236);
}

.settings {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius:7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-button {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    border: 1px solid;
    border-radius: 9px;
    border-color: rgb(235, 235, 235);
    background-color: rgb(236, 236, 236);
    font-weight: 600;
    font-style: normal;
}

.logout-button:hover {
    box-shadow: rgba(106, 106, 106, 0.35) 0px 2px 7px;
}

.settings p{
    margin: 0;
}

.settings:hover {
    background-color: rgb(236, 236, 236);
}

.sidebar-icon {
    width: 25px;
    height: 25px;
}

.show-sidebar-icon {
    margin-top: 20px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 7px;
}

.show-sidebar-icon:hover {
    box-shadow: rgba(106, 106, 106, 0.35) 0px 2px 7px;
}

.hero-wrapper {
    margin-top: 0;
    display: flex;
    gap: 380px;
}

.ranking-wrapper {
    align-items: center;
}

.ranking-header {
    margin: 0;
}

.habits-wrapper {
    margin-top: 100px;
    align-items: center;
}

.habits-header {
    margin: 0;
}

.habits {
    margin-top: 50px;
    width: auto;
    align-items: center;
}

.unfinished-habit {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 18px;
    border-radius: 18px;
    width: 60%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #F55050;
    cursor: pointer;
}

.unfinished-habit:hover {
    box-shadow: rgba(147, 35, 35, 0.80) 0px 2px 7px;
}

.finished-habit {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 18px;
    border-radius: 18px;
    width: 60%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #16C47F;
    box-shadow: rgba(37, 155, 102, 0.8) 0px 2px 7px;
}

.unfinished-habit p {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.finished-habit p {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form {
    width: fit-content;
    height: fit-content;
    background-color: rgb(244, 244, 244);
    border-radius: 18px;
    padding: 50px;
}

.no-login-yet {
    visibility: hidden;
    height: 0px;
}

.login-failed {
    height: fit-content;
    visibility: visible;
    color: white;
    background-color: #f65a5a;
    border: 1px solid red;
    border-radius: 15px;
}

.login-failed p {
    padding: 10px;
}

.no-signup-yet {
    visibility: hidden;
    height: 0px;
}

.signup-failed {
    height: fit-content;
    visibility: visible;
    color: white;
    background-color: #f65a5a;
    border: 1px solid red;
    border-radius: 15px;
}

.signup-failed p {
    padding: 10px;
}